<!--
Application Name: Youtube Playlist Length Calculator
Author: Raghava | Github: @raghavtwenty
Date Created: Feb 25, 2023 | Last Updated: May 11, 2023
Version Info: 1.0
Html Version: 5
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    <title>YTPL Calculator</title>
</head>
<body>
    <header>
        <h1 class="header">Youtube Playlist Length Calculator</h1>
    </header>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

    <footer>
        <br>
        © Designed & Developed by Raghava
        <br>
        Github: <a href="https://github.com/raghavtwenty" style="color: #fff;">@raghavtwenty</a>
        <br>
        Created On: Feb 25, 2023 · Last Updated: May 11, 2024 · Version Info: 2.11052024 · Public Release
        <br><br>
    </footer>
</body>
</html>
